<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Chromium.ChromeDriver" version="2.23" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net45" />
  <package id="Selenium.RC" version="2.53.1" targetFramework="net45" />
  <package id="Selenium.Support" version="2.53.1" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.53.1" targetFramework="net45" />
  <package id="Selenium.WebDriverBackedSelenium" version="2.53.1" targetFramework="net45" />
</packages>